<ion-header>
  <ion-toolbar color="light"> 
    <ion-title>
      Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      
      <ion-row *ngFor="let meal of Displaymeals">
        <ion-col>
          <ion-item>
            <ion-card color="light">
              <ion-card-title>
                <ion-img [src]="meal.imgPath"></ion-img>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text>{{meal.name}}</ion-text>
              </ion-card-subtitle>
              <ion-card-content>
                <ion-toolbar color="light">
                  <ion-text slot="start" color="dark">R{{meal.price}}</ion-text>
                  <ion-text slot="end" color="dark">{{meal.discription}}</ion-text>
                </ion-toolbar>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button expand="full" shape="round" color="success" (click)="send()">Order</ion-button>
      
      <hr/>
      <ion-text *ngIf="returnedOrder?.meals?.length !== 0"><h4>Order List</h4></ion-text>
      
      <ion-row *ngFor="let meal of returnedOrder?.meals">
        <ion-toolbar color="dark">
          <ion-text slot="start" color="light">{{meal.name}}</ion-text>
          <ion-text slot="end" color="primary">{{date | date:'shortDate'}} | {{date | date:'shortTime'}}</ion-text>
        </ion-toolbar>
        <ion-col size="8" ><ion-text color="light">{{meal.discription}}</ion-text> </ion-col>
        <ion-col size="4" ><ion-text color="light">R{{meal.price}}</ion-text> </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
